@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    font-family: 'Arvo', serif;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    overflow-x: hidden;
    text-decoration: none;
}

#banner{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,1)), url('image/banner-1-car.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    z-index: -1;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
    margin-top: 10px;
}

.navbar .logo{
    font-size: 2rem;
    font-weight: bolder;
    color: #fff;
}

.navbar ul li{
    display: inline-block;
}

.navbar ul li a{
    color: #fff;
    font-size: 0.8rem;
    margin: 0 10px;
    transition: all 0.2s ease-in-out;
}

.navbar ul li a:hover{
    color: black;
    border-bottom: 2px solid red;    
}

.content-box{
    position: relative;
    top: 30%;
    left: 20%;
    color: #fff;
}

.content-box h5{
    font-size: 1rem;
    color: #eee;
    font-weight: lighter;
    margin: 10px 0;
}

.content-box h1{
    font-size: 3rem;
    margin: 10px 0;
}

.content-box p{
    color: #eee;
    max-width: 500px;
    margin: 10px 0;
}

.content-box .btn{
    background: #fab700;
    color: #fff;
    padding: 10px 50px;
    margin: 15px 0;
    border: 2px solid #fab700;
    font-weight: bolder;
}

.content-box .btn:hover{
    background: transparent;
    color: #fab700;
    font-weight: bolder;
}

#services{
    height: 80vh;
    background-color: #fff;
    align-items: center;
}

#services h2{
    font-size: 3rem;
    text-align: center;
    margin-top: 40px;
}

#services .p{
    font-size: 1rem;
    font-weight: 100;
    text-align: center;
    color: #000;
}

.box1{
    display: flex;
    width: 60%;
    margin: auto;
    gap: 10px;
    margin-top: 30px;
}

.bx{
    width: 300px;
    height: 150px;
    align-items: center;
    background: #f9f9ff;
    padding: 10px 10px;
}

.bx i{
    padding-right: 5px;
}

.bx p{
    margin-top: 10px;
}





